.about-container {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card-container {
  align-self: center;
  width: 50%;
  height: 50%;
  font-size: 50px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
